In [ ]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")
from sqlalchemy.sql import text

In [ ]:
# Set Directory
dir ='Copy of Master Dashboard.xlsx'

# Load all sheets into a dictionary of DataFrames
sheets = pd.read_excel(dir, sheet_name=None)

##  Transform Tables/Sheets

In [ ]:
# 1. Transform Companies Table
companies_df = sheets['companies']

# Rename columns to match the database schema
companies_df.rename(columns={
    'Id': 'company_id',
    'Company': 'company',
    'Industry': 'industry',
    'Region': 'region',
    '1st Participation Year': 'first_participation_year',
    'Multiple Year': 'multiple_year',
    'Best Result': 'best_result',
    'Initial Funds': 'initial_funds',
    'Initial Employees': 'initial_employees',
    'TAMU Affiliated': 'tamu_affiliated',
    'Spinout': 'spinout',
    'College/Entity': 'college_entity',
    'Sponsor TAMU research?': 'sponsor_tamu_research',
    'Details': 'details'
}, inplace=True)

# Convert boolean-like columns ('x' vs empty) to proper boolean values
companies_df['tamu_affiliated'] = companies_df['tamu_affiliated'].replace({'x': True, '': False, None: False}).astype(bool)
companies_df['spinout'] = companies_df['spinout'].replace({'x': True, '': False, None: False}).astype(bool)
companies_df['sponsor_tamu_research'] = companies_df['sponsor_tamu_research'].replace({'x': True, '': False, None: False}).astype(bool)




# 2. Transform Summary Table
summary_df = sheets['summary']

summary_df.rename(columns={
    'Company': 'company',
    'TAMUS Affiliated': 'tamus_affiliated',
    'TAMUS Spinout': 'tamus_spinout',
    'Best Result': 'best_result',
    'First Part. Year': 'first_part_year',
    'Initial Funds': 'initial_funds',
    'Last Known Status': 'last_known_status',
    'tnvc_prize_cash': 'tnvc_prize_cash',
    'spons_research': 'spons_research',
    'TAMUS_spons_res': 'tamus_spons_res',
    'dilutive': 'dilutive',
    'non-dilutive': 'non_dilutive',
    'detail total': 'detail_total',
    'total-nodetail': 'total_nodetail',
    'Grand Total': 'grand_total',
    'TAMUS Funds': 'tamus_funds',
    'TEES Funds': 'tees_funds',
    'Employees': 'employees',
    'Lic Fees/Roys.': 'lic_fees_roys'
}, inplace=True)

summary_df = summary_df.loc[:, ~summary_df.columns.str.contains('^Unnamed')]
summary_df.loc[:, 'tamus_affiliated'] = summary_df['tamus_affiliated'].replace({'x': True, '': False}).astype(bool)
summary_df.loc[:, 'tamus_spinout'] = summary_df['tamus_spinout'].replace({'x': True, '': False}).astype(bool)
financial_columns = [
    'initial_funds', 'tnvc_prize_cash', 'spons_research', 
    'tamus_spons_res', 'dilutive', 'non_dilutive', 
    'detail_total', 'total_nodetail', 'grand_total', 
    'tamus_funds', 'tees_funds', 
]
for col in financial_columns:
    summary_df.loc[:, col] = (
        summary_df[col]
        .replace({'\$': '', ',': ''}, regex=True)  
        .replace({'': None})  
        .astype(float)  
    )


# 3. Transform Prizes Table
prizes_df = sheets['prizes']

# Rename columns
prizes_df.rename(columns={
    'Company': 'company',
    'Type': 'type',
    'auxiliary column (DONT DELETE)': 'auxiliary_column',
    'Amount': 'amount',
    'Year': 'year',
    'Description': 'description'
}, inplace=True)

# Convert Amount to numeric
prizes_df['amount'] = prizes_df['amount'].replace({'\$': '', ',': ''}, regex=True).astype(float)

#prizes_df.head(5)

# 4. Transform SR Table
sr_df = sheets['sr']

# Rename columns
sr_df.rename(columns={
    'Company Name': 'company_name',
    'TAMUS Company': 'tamus_company',
    'Buss w TAMUS?': 'buss_w_tamus',
    'Value': 'value',
    'Source': 'source',
    'Added By': 'added_by',
    'Date': 'date',
    'Comments': 'comments'
}, inplace=True)

# Convert boolean columns
sr_df['tamus_company'] = sr_df['tamus_company'].fillna(0).astype(bool)
sr_df['buss_w_tamus'] = sr_df['buss_w_tamus'].fillna(0).astype(bool)

# Convert Value to numeric
sr_df['value'] = sr_df['value'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Convert Date to datetime
sr_df['date'] = pd.to_datetime(sr_df['date'], errors='coerce')

#sr_df.head(5)


# 5. Transform TAMUSR Table
tamusr_df = sheets['tamusr']

# Rename columns
tamusr_df.rename(columns={
    'Company': 'company',
    'TAMU Dept': 'tamu_dept',
    'Contract Value': 'contract_value',
    'ORIGINAL DATA - COMPANY': 'original_data_company',
    'ORIGINAL DATA - TAMU DEPARTMENT': 'original_data_tamu_department'
}, inplace=True)

# Convert Contract Value to numeric
tamusr_df['contract_value'] = tamusr_df['contract_value'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# 6. Transform licfr Table
try:
    # Load the licfr sheet and remove irrelevant rows if any
    licfr_df = sheets['licfr']
    licfr_df.columns = licfr_df.columns.str.strip()  # Remove any leading/trailing spaces

    # Rename columns to match database schema
    licfr_df = licfr_df.rename(columns={
        'Company': 'company',
        'TAMUS Company': 'tamus_company',
        'TEES Company': 'tees_company',
        'Research Institution': 'research_institution',
        'TEES Res. Inst.': 'tees_res_institution',
        'TAMUS Res. Inst.': 'tamus_res_institution',
        'TAMUS/TEES Res Ins.': 'tamus_tees_res_institution',
        'Aux. Column (DO NOT DELETE)': 'aux_column',
        'Value': 'value',
        'Source': 'source',
        'Added by': 'added_by',
        'Date': 'date',
        'Comments': 'comments'
    })

    # Filter out rows with missing 'company' values
    licfr_df = licfr_df[licfr_df['company'].notna()]

    # Ensure correct boolean conversion: explicitly check for "x"
    bool_columns = ['tamus_company', 'tees_company', 'tees_res_institution', 
                    'tamus_res_institution', 'tamus_tees_res_institution']
    
    for col in bool_columns:
        licfr_df[col] = licfr_df[col].apply(lambda x: True if str(x).strip().lower() == 'x' else False)

    # Convert `value` column to numeric, handling non-numeric values
    licfr_df['value'] = pd.to_numeric(licfr_df['value'].replace({'\$': '', ',': ''}, regex=True), errors='coerce')

    # Convert `date` column to datetime
    licfr_df['date'] = pd.to_datetime(licfr_df['date'], errors='coerce')

except Exception as e:
    print(f"Error transforming licfr table: {e}")


# 7. Transform funds Table

try:
    # Load the funds sheet
    funds_df = sheets['funds']
    funds_df.columns = funds_df.columns.str.strip()  # Remove any leading/trailing spaces

    # Rename columns to match the database schema
    funds_df = funds_df.rename(columns={
        'Company': 'company',
        'Type': 'type',
        'Aux. Column (DO NOT DELETE)': 'aux_column',
        'Value': 'value',
        'Date Added': 'date_added',
        'Added By?': 'added_by',
        'Source': 'source',
        'Comments': 'comments',
        'Verified': 'verified'  
    })

    # Filter out rows with missing 'company' values
    funds_df = funds_df[funds_df['company'].notna()]

    # Convert `value` column to numeric, handling any currency symbols or commas
    funds_df['value'] = pd.to_numeric(funds_df['value'].replace({'\$': '', ',': ''}, regex=True), errors='coerce')

    # Convert `date_added` column to datetime
    funds_df['date_added'] = pd.to_datetime(funds_df['date_added'], errors='coerce')

    # Create the SQLAlchemy engine
    engine = create_engine('postgresql://postgres:1212@localhost:1212/TNVC')  # Update with actual credentials

    # Fetch company IDs from the companies table
    company_ids = pd.read_sql("SELECT company_id, company FROM etl.companies", engine)

    # Merge to get company_id
    funds_df = funds_df.merge(company_ids, on='company', how='left')

    # Check for any companies that didn't match
    unmatched = funds_df[funds_df['company_id'].isna()]
    if not unmatched.empty:
        print("Warning: The following companies didn't match with the companies table:")
        print(unmatched['company'].unique())

    # Drop rows with no company_id match to maintain referential integrity
    funds_df = funds_df.dropna(subset=['company_id'])

    # Reorder columns to match table structure
    funds_df = funds_df[['company_id', 'company', 'type', 'aux_column', 'value', 'date_added', 'added_by', 'source', 'comments', 'verified']]

except Exception as e:
    print(f"Error in ET step for funds table: {e}")

# 8. Transform status Table

try:
    # Load the status sheet
    status_df = sheets['status']
    status_df.columns = status_df.columns.str.strip()  # Remove any leading/trailing spaces

    # Rename columns to match the database schema
    status_df = status_df.rename(columns={
        'Company': 'company',
        'Status Record': 'status_record',
        'Date': 'date',
        'Added By?': 'added_by',
        'Source': 'source',
        'Comments': 'comments'
    })

    # Filter out rows with missing 'company' values
    status_df = status_df[status_df['company'].notna()]

    # Convert `date` column to datetime
    status_df['date'] = pd.to_datetime(status_df['date'], errors='coerce')

    # Create the SQLAlchemy engine
    engine = create_engine('postgresql://postgres:1212@localhost:1212/TNVC')  # Update with actual credentials

    # Fetch company IDs from the companies table
    company_ids = pd.read_sql("SELECT company_id, company FROM etl.companies", engine)

    # Merge to get company_id
    status_df = status_df.merge(company_ids, on='company', how='left')

    # Check for any companies that didn't match
    unmatched = status_df[status_df['company_id'].isna()]
    if not unmatched.empty:
        print("Warning: The following companies didn't match with the companies table:")
        print(unmatched['company'].unique())
        print(f"Number of unmatched records: {len(unmatched)}")

    # Instead of dropping, we'll keep all records and set company_id to None for unmatched companies
    status_df['company_id'] = status_df['company_id'].astype('Int64')  # This allows for NULL values in integer column

    # Reorder columns to match table structure
    status_df = status_df[['company_id', 'company', 'status_record', 'date', 'added_by', 'source', 'comments']]

except Exception as e:
    print(f"Error in ET step for status table: {e}")

# 9 Transform Employee Table 

try:
    # Load the employee sheet
    employee_df = sheets['employees']
    employee_df.columns = employee_df.columns.str.strip()  # Remove any leading/trailing spaces

    # Rename columns to match the database schema
    employee_df = employee_df.rename(columns={
        'Company': 'company',
        'Value': 'value',
        'Date': 'date',
        'Added By?': 'added_by',
        'Source': 'source',
        'Comments': 'comments'
    })

    # Filter out rows with missing 'company' values
    employee_df = employee_df[employee_df['company'].notna()]

    # Convert `value` column to integer
    employee_df['value'] = pd.to_numeric(employee_df['value'], errors='coerce').astype('Int64')

    # Convert `date` column to datetime
    employee_df['date'] = pd.to_datetime(employee_df['date'], errors='coerce')

    # Create the SQLAlchemy engine
    engine = create_engine('postgresql://postgres:1212@localhost:1212/TNVC')  # Update with actual credentials

    # Fetch company IDs from the companies table
    company_ids = pd.read_sql("SELECT company_id, company FROM etl.companies", engine)

    # Merge to get company_id
    employee_df = employee_df.merge(company_ids, on='company', how='left')

    # Check for any companies that didn't match
    unmatched = employee_df[employee_df['company_id'].isna()]
    if not unmatched.empty:
        print("Warning: The following companies didn't match with the companies table:")
        print(unmatched['company'].unique())
        print(f"Number of unmatched records: {len(unmatched)}")

    # Keep all records, including those without a matching company_id
    employee_df['company_id'] = employee_df['company_id'].astype('Int64')  # This allows for NULL values in integer column

    # Reorder columns to match table structure
    employee_df = employee_df[['company_id', 'company', 'value', 'date', 'added_by', 'source', 'comments']]

except Exception as e:
    print(f"Error in ET step for employee table: {e}")


# 10 Transform contacts Table
try:
    # Load the contacts sheet
    contacts_df = sheets['contacts']
    contacts_df.columns = contacts_df.columns.str.strip()  # Remove any leading/trailing spaces

    # Rename columns to match the database schema
    contacts_df = contacts_df.rename(columns={
        'Company': 'company',
        'First Name': 'first_name',
        'Last Name': 'last_name',
        'Entry': 'entry',
        'Comments': 'comments',
        '2019 Survey': 'survey_2019',
        'Company Last Status': 'company_last_status',
        '1st Participation Year': 'first_participation_year',
        'Multiple Year': 'multiple_year',
        'Best Result': 'best_result'
    })

    # Filter out rows with missing 'company' values
    contacts_df = contacts_df[contacts_df['company'].notna()]

    # Convert '2019 Survey' to boolean
    contacts_df['survey_2019'] = contacts_df['survey_2019'].map({'x': True, '': False})

    # Convert 'Company Last Status' to numeric
    contacts_df['company_last_status'] = pd.to_numeric(contacts_df['company_last_status'], errors='coerce')

    # Convert '1st Participation Year' to integer
    contacts_df['first_participation_year'] = pd.to_numeric(contacts_df['first_participation_year'], errors='coerce').astype('Int64')


# Convert 'multiple_year' to integer
    contacts_df['multiple_year'] = pd.to_numeric(contacts_df['multiple_year'], errors='coerce').astype('Int64')

    # Create the SQLAlchemy engine
    engine = create_engine('postgresql://postgres:1212@localhost:1212/TNVC')  # Update with actual credentials

    # Fetch company IDs from the companies table
    company_ids = pd.read_sql("SELECT company_id, company FROM etl.companies", engine)

    # Merge to get company_id
    contacts_df = contacts_df.merge(company_ids, on='company', how='left')

    # Check for any companies that didn't match
    unmatched = contacts_df[contacts_df['company_id'].isna()]
    if not unmatched.empty:
        print("Warning: The following companies didn't match with the companies table:")
        print(unmatched['company'].unique())
        print(f"Number of unmatched records: {len(unmatched)}")

    # Keep all records, including those without a matching company_id
    contacts_df['company_id'] = contacts_df['company_id'].astype('Int64')  # This allows for NULL values in integer column

    # Reorder columns to match table structure
    contacts_df = contacts_df[['company_id', 'company', 'first_name', 'last_name', 'entry', 'comments', 'survey_2019', 'company_last_status', 'first_participation_year', 'multiple_year', 'best_result']]

except Exception as e:
    print(f"Error in ET step for contacts table: {e}")


# 11 Transform industry_region table 
try:
    # Load the industry_region sheet
    industry_region_df = sheets['Industry & Region']
    industry_region_df.columns = industry_region_df.columns.str.strip()  # Remove any leading/trailing spaces

    # Rename columns to match the database schema
    industry_region_df = industry_region_df.rename(columns={
        'Company': 'company',
        '1st Participation Year': 'first_participation_year',
        'Application Category': 'application_category',
        'Sub Category': 'sub_category',
        'Flight Room': 'flight_room',
        'Final Industry - our terms': 'final_industry',
        'Region': 'region'
    })

    # Filter out rows with missing 'company' values
    industry_region_df = industry_region_df[industry_region_df['company'].notna()]

    # Convert 'first_participation_year' to integer
    industry_region_df['first_participation_year'] = pd.to_numeric(industry_region_df['first_participation_year'], errors='coerce').astype('Int64')

    # Create the SQLAlchemy engine
    engine = create_engine('postgresql://postgres:1212@localhost:1212/TNVC')  # Update with actual credentials

    # Fetch company IDs from the companies table
    company_ids = pd.read_sql("SELECT company_id, company FROM etl.companies", engine)

    # Merge to get company_id
    industry_region_df = industry_region_df.merge(company_ids, on='company', how='left')

    # Check for any companies that didn't match
    unmatched = industry_region_df[industry_region_df['company_id'].isna()]
    if not unmatched.empty:
        print("Warning: The following companies didn't match with the companies table:")
        print(unmatched['company'].unique())
        print(f"Number of unmatched records: {len(unmatched)}")

    # Keep all records, including those without a matching company_id
    industry_region_df['company_id'] = industry_region_df['company_id'].astype('Int64')  # This allows for NULL values in integer column

    # Reorder columns to match table structure
    industry_region_df = industry_region_df[['company_id', 'company', 'first_participation_year', 'application_category', 'sub_category', 'flight_room', 'final_industry', 'region']]

except Exception as e:
    print(f"Error in ET step for industry_region table: {e}")

## Load tables into TNVC DB

In [ ]:
# Database connection
DATABASE_URI = 'postgresql://postgres:1212@localhost:1212/TNVC'
engine = create_engine(DATABASE_URI)

# Truncate table function 
def truncate_table(engine, table_name, schema='etl'):
    try:
        with engine.connect() as conn:
            conn.execute(text(f"TRUNCATE TABLE {schema}.{table_name} RESTART IDENTITY CASCADE"))
            print(f"Table '{schema}.{table_name}' truncated successfully.")
    except Exception as e:
        print(f"Error truncating table '{schema}.{table_name}': {e}")
truncate_table(engine, 'companies', schema='etl')

# Insert the companies table
companies_df.to_sql(
    name='companies',
    con=engine,
    schema='etl',
    if_exists='append',
    index=False
)

# Function to load all tables
def load_all_tables(tables, schema='etl'):
    for table_name, df in tables.items():
        try:
            if table_name == 'companies':
                # Truncate companies table before loading
                truncate_table(engine, table_name, schema)
                if_exists = 'append'  # Append after truncating
            else:
                if_exists = 'replace'  # Replace other tables
                
            df.to_sql(
                name=table_name,
                con=engine,
                schema=schema,
                if_exists=if_exists,
                index=False  # Do not write the DataFrame index
            )
            print(f"Table '{schema}.{table_name}' loaded successfully.")
        except Exception as e:
            print(f"Error loading table '{schema}.{table_name}': {e}")

# Dictionary of tables to load
tables = {
    'companies': companies_df,
    'summary': summary_df,
    'prizes': prizes_df,
    'sr': sr_df,
    'tamusr': tamusr_df,
    'licfr': licfr_df,
    'funds': funds_df,
    'status': status_df,
    'employees': employee_df,
    'contacts': contacts_df,
    'industry_region': industry_region_df
}

# Load all tables
load_all_tables(tables)